<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="main">
      <%= image_tag 'all.jpeg', size: "200x150", alt: 'The Forbidden Fruit' %>
      <h1>Forbidden Fruit</h1>
      <div class="main_nav">
        <ul>
          <% if current_user && current_user.id == 2 %>
            <li><a href="/products">Products</a></li>
            <li><a href="/">Home</a></li>
            <li><%= link_to 'logout',  logout_path, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <section class="content">
      <nav class="side_nav">
        <% if @cart %>
          <div id="cart" class="carts">
            <%= render @cart %>
          </div>
        <% end %>
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
